/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run cmatkhan/homer_peakcalling_from_bam -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    // do not filter duplicates for chipexo!
    withName: 'SAMTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_filtered" }
        ext.args = [
            "-F 0x0004",      // Exclude unmapped reads
            "-F 0x0008",      // Exclude reads with unmapped mates
            "-F 0x0100",      // Exclude secondary alignments
            "-F 0x0800",      // Exclude supplementary alignments
            "-f 0x0002",      // INCLUDE only properly paired reads
            "-q 1"            // Minimum MAPQ of 1
        ].join(' ')
    }

    withName: '.*:HOMER_.*MAKETAGDIRECTORY.*' {
        ext.args = [
        '-checkGC',
        '-tbp 1'         // Count 5' end of the fragment
    ].join(' ')
        
    }
    
    withName: '.*:HOMER_FINDPEAKS' {
        ext.args = [
            '-fragLength 1',    // Do not shift reads
            '-minDist 100',      // Minimum distance between peaks
            '-localSize 1000',  // Local background size (matches ChExMix scalewin)
            '-F 0 -L 0 -C 0',   // turn off filtering
            params.homer_gsize ? "-gsize ${params.homer_gsize}" : ""
        ].join(' ')

    }

    withName: '.*:HOMER_ANNOTATEPEAKS_MERGED' {
        ext.args = [
            '-fragLength 1'
        ].join(' ').trim()
    }

    withName: '.*:HOMER_QUANTIFYPEAKS' {
        ext.args = [
            params.homer_quant_size ? "-size ${params.homer_quant_size}" : "-size given",
            params.homer_quant_raw ? "-raw" : "",
            '-fragLength 1'
        ].join(' ').trim()
    }

    withName: '.*:HOMER_QUANTIFYTSS' {
        ext.prefix = "promoter_enrichment"
        ext.args = [
            params.homer_quant_size ? "-size ${params.homer_quant_size}" : "-size given",
            params.homer_quant_raw ? "-raw" : "",
            '-fragLength 1'
        ].join(' ').trim()
    }

}

