/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run cmatkhan/homer_peakcalling_from_bam -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    withName: 'SAMTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_filtered" } 
        ext.args = [
            "-F 1024",
            "-q 10"
        ].join(' ')
    }

    withName: '.*:HOMER_.*MAKETAGDIRECTORY.*' {
        ext.args = [
        '-checkGC',
        '-tbp 1'         // Count 5' end of the fragment
    ].join(' ')
        
    }
    
    withName: '.*:HOMER_FINDPEAKS' {
        ext.args = [
            '-fragLength 1',    // Do not shift reads
            '-minDist 50',      // Minimum distance between peaks
            '-L 1.5',           // Fold enrichment threshold
            '-LP 0.001',        // Local poisson pvalue loosened from default of 0.0001
            '-P 0.1',           // P-value threshold (Rossi 2021 was 0.01, resulted in union 500 enriched promoters in Taf)
            '-localSize 1000',  // Local background size (matches ChExMix scalewin)
            '-fdr 0.05',         // FDR threshold (Benjamini-Hochberg correction)
            params.homer_gsize ? "-gsize ${params.homer_gsize}" : ""
        ].join(' ')

    }

    withName: '.*:HOMER_ANNOTATEPEAKS_MERGED' {
        ext.args = [
            '-fragLength 1'
        ].join(' ').trim()
    }

    withName: '.*:HOMER_QUANTIFYPEAKS' {
        ext.args = [
            params.homer_quant_size ? "-size ${params.homer_quant_size}" : "-size given",
            params.homer_quant_raw ? "-raw" : "",
            '-fragLength 1'
        ].join(' ').trim()
    }

    withName: '.*:HOMER_QUANTIFYTSS' {
        ext.prefix = "promoter_enrichment"
        ext.args = [
            params.homer_quant_size ? "-size ${params.homer_quant_size}" : "-size given",
            params.homer_quant_raw ? "-raw" : "",
            '-fragLength 1'
        ].join(' ').trim()
    }

}

